.sidebar{
    background: $color-primary;
    grid-column: sidebar-start/sidebar-end;
    grid-row:  1/-1;
    
    @media only screen and(max-width: $bp-large){
        grid-column: 1/-1;
        grid-row:  1/2;
        justify-content:flex-end;
        align-items: center;
     }
    display: flex;
    justify-content: center;
}

.nav__button{
    width: 4.5rem;
    height: 2px;
    background-color: #fff;
    border: none;
    border-radius: none;
    margin-top: 4rem;

&::before,
&::after{
    width: 4.5rem;
    height: 2px;
    background-color: #fff;
    content: "";
    display: block;
}
&::before{transform: translateY(-1.5rem);}
&::after{transform: translateY(1.3rem);}


@media only screen and(max-width: $bp-large){
    margin-top: 0;
    margin-right: 3rem;

    
 }


}