.story{
    &__pictures{
        background-color: $color-primary-dark;
        grid-column: fullstart/col-end 4;
    }
    &__content{
        background-color: $color-grey-light-2;
        grid-column:col-start 5/fullend ;
    }
}