%heading{
    font-family: $font-display;
    font-weight:400;

}
.header-1{
@extend %heading;
}

.header-2{
 @extend %heading;
}
.header-3{
 @extend %heading;
}

.header-4{
 @extend %heading;
  
   font-size: 1.9rem;

  &--light{
   color: $color-grey-light-2;
  }
  &--dark{
      color: $color-grey-dark-2;
  }

}
